<%- include('partials/header.ejs', {
    cssFile : ('styleStory.css')
}) %>

<main>
    <h1>L'histoire</h1>
    <div class="stories1">
        <img class="stories__img1" src="/img/stories1.jpeg" alt="">
        <p class="stories__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione nam corporis vel rem, enim consectetur cumque, odio accusamus quidem earum non facere omnis ut soluta blanditiis aliquam impedit culpa magnam vero. Dolore blanditiis minima quas assumenda velit asperiores consequuntur, ipsam iure, iste, reiciendis dolorum totam cumque recusandae magnam! Quisquam distinctio hic mollitia odit cum aspernatur dolor magni iusto aliquam ipsam blanditiis quis dolores excepturi cupiditate repellendus, magnam fuga quod quia cumque a, ad sint minima? Quidem officia architecto velit in enim iusto nesciunt inventore esse quibusdam libero consequuntur officiis illum neque rerum labore laboriosam ullam alias ducimus optio provident incidunt fuga, maxime repellat voluptas? Sed ad veniam necessitatibus assumenda. Natus eos quia necessitatibus, impedit ex minus fugit velit, ipsa quae amet enim voluptate ut libero repellendus vel, consequatur incidunt laboriosam.</p>
    </div>
    <div class="stories2">
        <p class="stories__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione officiis similique perferendis impedit enim eum reiciendis quos? Adipisci mollitia harum dicta veritatis nobis sit ipsa nam molestiae, illum soluta fuga beatae animi reprehenderit. Officia commodi voluptatum quidem impedit necessitatibus consequuntur suscipit repellat! Magnam inventore eaque tenetur voluptates consequuntur. Eveniet numquam exercitationem temporibus sint, aut unde nesciunt, excepturi ipsa vero illum incidunt corporis ipsam quas quibusdam quia. Quo fuga facilis cumque porro vitae corporis, laudantium minima possimus atque eius aliquam beatae ea quis ex, ducimus sapiente ratione eligendi esse, modi eaque assumenda cum? Dignissimos quibusdam laborum quos, at molestiae velit similique atque accusamus ipsam illum vel doloribus. Rerum adipisci delectus tenetur eaque beatae facilis repellat reiciendis, atque, doloremque rem ipsam quaerat.</p>
        <img class="stories__img2" src="/img/stories2.jpeg" alt="">
    </div>

</main>
</body>
</html>