body{
    margin: 0;
    background-color: lightgray;
}

h1{
    font-size: 3rem;
    padding: 20px;
    text-align: center;
}

.stories1, .stories2{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.stories__img1, .stories__img2{
width: 50%;
}

.stories__text{
    line-height: 1.4rem;
    font-size: 1.3rem;
    text-align: start;
    padding: 20px;
}